.ast-container h1, .interface-interface-skeleton__content h1 {
  font-size: 2.5vw; }
.ast-container h2, .interface-interface-skeleton__content h2 {
  font-size: 2vw; }
.ast-container h3, .interface-interface-skeleton__content h3 {
  font-size: 1.7vw; }
.ast-container h4, .interface-interface-skeleton__content h4 {
  font-size: 1.3vw; }
.ast-container p, .interface-interface-skeleton__content p {
  font-size: 1vw; }

@media screen and (max-width: 1280px) {
  h3 {
    font-size: 2vw !important; }

  h4 {
    font-size: 1.7vw !important; }

  p {
    font-size: 1.5vw !important; } }
@media screen and (max-width: 989px) {
  h1 {
    font-size: 3.5vw !important; }

  h2 {
    font-size: 2.5vw !important; }

  h3 {
    font-size: 2.3vw !important; }

  h4 {
    font-size: 1.7vw !important; } }
@media screen and (max-width: 767px) {
  h1 {
    font-size: 4vw !important; }

  h2 {
    font-size: 3vw !important; }

  h3 {
    font-size: 2.6vw !important; }

  h4 {
    font-size: 2.1vw !important; }

  p {
    font-size: 2vw !important; } }
@media screen and (max-width: 676px) {
  h1 {
    font-size: 5vw !important; }

  h2 {
    font-size: 4vw !important;
    line-height: 50px !important; }

  h3 {
    font-size: 3vw !important; }

  h4 {
    font-size: 2.5vw !important; }

  p {
    font-size: 2.7vw !important; } }
@media screen and (max-width: 480px) {
  h1 {
    font-size: 6vw !important; }

  h2 {
    font-size: 5vw !important; }

  h3 {
    font-size: 3.8vw !important; }

  h4 {
    font-size: 2.8vw !important; }

  p {
    font-size: 3.5vw !important; } }
.ast-container {
  padding-left: unset !important;
  padding-right: unset !important;
  max-width: 100% !important; }

.ast-plain-container .block-editor-block-list__layout {
  padding-right: unset !important;
  padding-left: unset !important; }

.wp-block-cover .wp-block-group__inner-container {
  width: 50% !important;
  margin-left: 2% !important; }
.wp-block-cover .wp-block-cover__inner-container {
  width: 100% !important; }
  .wp-block-cover .wp-block-cover__inner-container p {
    width: 48% !important;
    float: left;
    margin-left: 15px !important; }

@media screen and (max-width: 989px) {
  .wp-block-cover {
    padding: unset !important;
    min-height: 500px !important; }

  .wp-block-cover__inner-container {
    margin-top: 5% !important; } }
@media screen and (max-width: 667px) {
  .wp-block-cover {
    min-height: 400px !important; } }
.wp-block-group__inner-container {
  width: 50%;
  margin: auto; }
  .wp-block-group__inner-container h2 {
    line-height: 50px; }

.grid {
  display: grid; }

.grid-2 {
  grid-template-columns: 1fr 1fr 1fr; }

.grid-3 {
  grid-template-columns: 1fr 1fr 1fr; }

.grid-4 {
  grid-template-columns: 1fr 1fr 1fr; }

.test {
  background-color: lightgray; }

/* fix new block overlap issue */
.block-editor-block-list__block {
  margin-bottom: 70px !important; }

.slider {
  padding: 0 0 5px; }

/* styling of entire slide */
.slide-data {
  display: flex !important;
  flex-direction: column !important;
  width: 75% !important;
  margin: auto !important; }

/* header styling */
.testimonial-header {
  display: flex !important;
  justify-content: center !important; }

/* description styling */
.testimonial-description {
  display: flex !important;
  justify-content: center !important;
  font-style: italic;
  margin-bottom: 33px; }

/* Author Styling */
.testimonial-author {
  display: flex !important;
  justify-content: center !important;
  font-weight: 600; }

.slick-dots {
  margin-bottom: -25px !important;
  margin-left: 0px !important;
  padding-left: 0px !important; }
  .slick-dots button:before {
    font-size: 10px !important; }

.slick-arrow:before {
  color: black !important; }

@media screen and (max-width: 480px) {
  .slick-arrow {
    display: none !important; } }

/*# sourceMappingURL=editor.css.map */
