
//Variables holding font-sizes
.ast-container, .interface-interface-skeleton__content {
    h1 {
        font-size: 2.5vw;
    }
    h2 {
        font-size: 2vw;
        
    }
    h3 {
        font-size: 1.7vw;
    }
    h4 {
        font-size: 1.3vw;
    }
    p {
        font-size: 1vw;
    }
}

//Responsive text styling using Mixins
@include screenMax(1280px) {

    h3 {
        font-size: 2vw !important;
    }

    h4 {
        font-size: 1.7vw !important;
    }

    p {
        font-size: 1.5vw !important;
    }
}
@include screenMax(989px) {

    h1{
        font-size: 3.5vw !important;
    } 
    h2 {
        font-size: 2.5vw !important;
    }
    h3 {
        font-size: 2.3vw !important;
    }
    h4 {
        font-size: 1.7vw !important;
    }
    p {
        
    }
}
@include screenMax(767px) {

    h1{
        font-size: 4vw !important;
    } 

    h2 {
        font-size: 3vw !important;
    }

    h3 {
        font-size: 2.6vw !important;
    }
    h4 {
        font-size: 2.1vw !important;
    }
    
    p {
        font-size: 2vw !important;
    }
}

@include screenMax(676px) {

    h1{
        font-size: 5vw !important;
    } 

    h2 {
        font-size: 4vw !important;
        line-height: 50px !important;
    }

    h3 {
        font-size: 3vw !important;
    }

    h4 {
        font-size: 2.5vw !important;
    }
    
    p {
        font-size: 2.7vw !important;
    }
}

@include screenMax(480px) {

    h1{
        font-size: 6vw !important;
    } 

    h2 {
        font-size: 5vw !important;
    }

    h3 {
        font-size: 3.8vw !important;
    }
    h4 {
        font-size: 2.8vw !important;
    }
    
    p {
        font-size: 3.5vw !important;
    }
}

